body {
    background-color: #f7f3f0;
}
#message {
    display: none;
}
.m2 {
background-color: #fff8f0;
border:2px solid black ;
border-radius: 18px;
}
.hero {
background-color: #f8efe5;
border:2px solid black ;
border-radius: 18px;
text-align: center;
margin-bottom: 5px;
}
h1 {
color: #800020;
font-size: clamp(40px , 8vw , 80px);
font-weight: bold;
text-align: center;
}
.p1 {
    color: #4a3535;
    font-size: clamp(22px, 5vw, 40px);
    text-align: center;
}
button {
    background-color: #800020;
    color: #f8efe5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 18px;
    border: 1px solid black;
}
button:hover {
    background-color: #5c0017;
}
h2 {
 color: #6b1635;
 text-align: center;
 font-size: clamp(16px, 4vw, 30px);
 font-weight: bold;
}
.p2 {
   color:#3d2929 ; 
   margin-left: 5px;
   font-size: clamp(15px, 5vw, 30px);
}
img {
    width: 80%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 18px;
    border: 2px solid black;
    display: block;
    margin: auto ;
}
.heart {
    position: fixed;
    bottom: -20px;
    font-size: 25px;
    animation: fly 3s ease-out forwards;
}

@keyframes fly {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100vh);
        opacity: 0;
    }
}
ul {
    color: #7a1f3d;
}
a {
    color: #8e5a5a;
}
a:hover {
    color: #5e1730;
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: clamp(10px, 4vw, 20px);
}






